:root {
  --richblack: #02111b;
  --onynx: #3f4045;
  --raisinblack: #30292f;
  --cadet: #5d737e;
  --white: #fcfcfc;
  --platinum: #e7e5df;
  --orangered: #f26430;
  --lightgrey: #cfd8d7;
  --vividblue: #1ac8ed;
  --bluesaph: #086375;
}

body {
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  scroll-behavior: smooth;
  font-size: 16px;
  background-color: var(--lightgrey);
}

/* unvisited link */
a:link {
  color: var(--cadet);
}

/* visited link */
a:visited {
  color: var(--bluesaph);
}

/* mouse over link */
a:hover {
  background-color: var(--orangered);
  opacity: 0.5;
}

/* selected link */
a:active {
  color: yellow;
}

/* header styles */
.header {
  position: sticky;
  top: 0;
  z-index: 10;
  justify-content: left;
  display: inline-flex;
  background-color: var(--onynx);
  color: var(--platinum);
  justify-content: left;
  align-items: center;
  width: 100%;
}

.header h1 {
  font-size: 250%;
  font-weight: bold;
  height: auto;
  margin: 0;
  width: 800px;
}

.header ul {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  padding-right: 50px;
  font-size: 100%;
  text-align: center;
  justify-content: right;
  width: 550px;
}

.header li a {
  list-style: none;
  width: 800px;
  margin: 0;
  padding: 10px;
  color: var(--platinum);
  width: max-content;
}

/* class hero styles */
.hero {
  display: flex;
  height: 200px;
  width: 100%;
  background-image: url("../images/abstract_img.jpg");
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--platinum);
  flex-direction: column;
}

.hero h2 {
  display: flex;
  font-size: 200%;
  justify-content: center;
  align-items: flex-end;
  padding: 0px 0px 0px 0px;
  margin: 100px 0 0 0px;
}

h3 {
  font-size: 96%;
  text-align: right;
  padding: 0px 0px 0px 0px;
  margin: 5px 0px 0px 0px;
  scroll-margin-top: 100px;
  width: 20px;
  height: 100px;
  inline-size: max-content;
}

/* Border styles */
.border {
  border-right: 3px solid var(--cadet);
  display: flex;
  width: 100px;
  height: auto;
  font-size: 175%;
  padding: 0px 0px 0px 100px;
  margin: 10px 0px 30px 100px;
}

article p {
  display: flex;
  flex-wrap: wrap-reverse;
  min-width: 600px;
  flex-direction: row;
  width: 905px;
  margin: 15px 0px 0px 125px;
  font-size: initial;
}

/* Main project image content styles */
.main_proj_img a {
  display: block;
  width: 955px;
  height: 400px;
  padding: 5px 0px 0px 0px;
  margin: 0px 0px 10px 125px;
  background-image: url(../images/digital-marketing-meeting.jpg);
  background-position: center;
  background-size: 99% 98%;
  background-repeat: no-repeat;
  position: relative;
  border: solid 2px var(--richblack);
  min-width: 600px;
}

#main_proj_img_txt {
  background-color: var(--lightgrey);
  position: absolute;
  bottom: 33px;
  left: 1px;
  padding: 0px 20px 0px 0px;
  width: 200px;
}

#main_proj_img_txt span {
  background-color: var(--lightgrey);
  font-size: 50%;
}

/* Secondary project image content styles */
.sec_proj_img_row a {
  display: flex;
  float: left;
  width: 468px;
  min-width: 234px;
  height: 200px;
  margin: 0px 0px 0px 125px;
  padding: 10px 0px 0px 10px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-position: center;
  background-size: 98% 97%;
  background-repeat: no-repeat;
  position: relative;
  border: solid 2px var(--richblack);
}

.sec_proj_img_column a {
  flex: 50%;
  width: 467px;
  min-width: 234px;
  height: 200px;
  margin: 0px 0px 10px 10px;
  padding: 10px 0px 0px 0px;
  background-image: url(../images/digital-marketing-meeting.jpg);
  background-position: center;
  background-size: 98% 97%;
  background-repeat: no-repeat;
  position: absolute;
  border: solid 2px var(--richblack);
}

#sec_proj_img_txt {
  background-color: var(--lightgrey);
  position: absolute;
  bottom: 33px;
  left: 1px;
  padding: 0px 20px 0px 0px;
  width: 200px;
}

#sec_proj_img_txt span {
  background-color: var(--lightgrey);
  font-size: 50%;
}

.footer {
  display: flex;
  width: 955px;
  margin: 10px px 0px 0px 0px;
}

.footer ul {
  font-size: 0;
  list-style: none;
}

.footer ul li {
  font-size: initial;
  display: inline-flex;
  padding: 0px 0px 0px 36px;
  margin: 0px 0px 0px 92px;
  height: 50px;
}

/* If the screen size is 600px or less */
@media only screen and (max-width: 600px) {

  .hero {
    min-width: 600px;
  }

  .border,
  h3 {
    display: inline-block;
    width: 1vw;
  }

article p {
width: 1vmin;
}

section {
 min-width: 600px;
}
  .footer ul,
  li {
    display: inline-block;
    width: 45%;
  }

  .header ul,
  li {
    display: inline-block;
    width: 45%;
  }
}
